h1,h2,h3,h4 {
    color:#6495ed
}

body,table tr {
    background-color:#fff
}

table tr td,table tr th {
    border:1px solid #ccc;
    text-align:left;
    padding:6px 13px;
    margin:0
}

pre code,table,table tr {
    padding:0
}

body {
    font-family:Helvetica,Arial,sans-serif
}

h1,h2 {
    text-align:center
}

blockquote {
    background:#f9f9f9;
    border-left:10px solid #6495ed;
    margin:1.5em 10px;
    padding:.5em 10px;
    font-style:italic
}

blockquote p {
    display:inline
}

hr {
    clear:both;
    float:none;
    width:100%;
    height:2.5px;
    margin:1.4em 0;
    border:none;
    background:#ddd;
    background:-webkit-gradient(linear,left bottom,right bottom,color-stop(0,#fff),color-stop(.1,#ddd),color-stop(.9,#ddd),color-stop(1,#fff)) #ddd;
    background:-moz-linear-gradient(left center,#fff 0,#ddd 10%,#ddd 90%,#fff 100%) #ddd
}

table tr {
    border-top:1px solid #ccc;
    margin:0
}

table tr:nth-child(2n) {
    background-color:#aaa
}

table tr th {
    font-weight:700
}

table tr td :first-child,table tr th :first-child {
    margin-top:0
}

table tr td:last-child,table tr th :last-child {
    margin-bottom:0
}

code,tt {
    margin:0 2px;
    padding:0 5px;
    white-space:nowrap;
    border:1px solid #eaeaea;
    background-color:#f8f8f8;
    border-radius:3px
}

pre code {
    margin:0;
    white-space:pre;
    border:none;
    background:0 0
}

.highlight pre,pre {
    background-color:#f8f8f8;
    border:1px solid #ccc;
    font-size:13px;
    line-height:19px;
    overflow:auto;
    padding:6px 10px;
    border-radius:3px
}

img {
    width: 650px
}

